# Ignore all files and folder
*

# Unignore wanted files and folder
!.*/
!.gitignore
!.zshrc
!*.zsh-theme
!.config
!nvim
!zsh
!custom
!themes
!plugins
!git
!gitk
!.config/zsh/custom/themes/**
!.config/zsh/custom/plugins/**
!.config/nvim/init.vim

# Ignore specific files
.fzf
.oh-my-zsh
.zgen
.zplug
zsh-completions
zsh-autosuggestions
zsh-history-substring-search
zsh-syntax-highlighting
